# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
Would skip repository .deploy_git/
.idea/
public/
.deploy_git/
Would skip repository themes/minos/
